#bottombar-container {
  height: 50px;
  display: none;
  background-color: var(--dark-primary);
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.bottombar-children {
  display: grid;
  place-items: center;
}

@media (max-width: 768px) {
  #bottombar-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
